APP_PORT=8010
APP_VERSION=1.0.0

SECRET_KEY=IniSecretKeyUntukBackendDTCDummyDataQibol
JWT_USERNAME=FannyAHindrarta
JWT_PASSWORD=Pejaten13!
TEST_USERNAME=iot
TEST_PASSWORD=iot1234

ISS=PT.Qlue Performa Indonesia
SUB=fanny.hindrarta@qlue.id
AUD=https://qlue.co.id
EXP=30d
ONE_TIME_EXP=365d
ALG_TOKEN=HS256
ALG_PRIVATE_PUBLIC_KEY=RS256

PEOPLE_LOW=0
PEOPLE_MED=15
PEOPLE_HIG=30